<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Local Discovery</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<main>
    <h1>Local Discovery</h1>
    <p class="subtitle">
        Looking for info or documentation?
        Check the readme on GitHub:
        <a href="https://github.com/LucaScorpion/local-discovery#readme">LucaScorpion/local-discovery</a>
    </p>
    {{range .Agents}}
        <div class="agent">
            <div class="info">
                <div class="name">{{.Name}}</div>
                <div class="address">{{.LocalAddress}}</div>
            </div>
            <button type="button" onclick="navigator.clipboard.writeText('{{.LocalAddress}}')">
                <img src="copy.svg" alt="Copy address">
            </button>
        </div>
    {{end}}
</main>
</body>
</html>
